<h1>Perros</h1>

<div id="perritos">
  <% @perritos.each do |perrito| %>
    <%= render perrito %>
    <p>
      <%= link_to "Mostrar este perro", perrito %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo perro", new_perrito_path %>
