<%= render @perrito %>

<div>
  <%= link_to "Editar este perro", edit_perrito_path(@perrito) %> |
  <%= link_to "Volver al perfil", perfil_path %>

  <%= button_to "Eliminar perro", @perrito, method: :delete %>
</div>
