<h1>Editing historia c</h1>

<%= render "form", historia_c: @historia_c %>

<br>

<div>
  <%= link_to "Show this historia c", @historia_c %> |
  <%= link_to "Back to historia cs", historia_cs_path %>
</div>
