<p style="color: green"><%= notice %></p>

<h1>Historia cs</h1>

<div id="historia_cs">
  <% @historia_cs.each do |historia_c| %>
    <%= render historia_c %>
    <p>
      <%= link_to "Show this historia c", historia_c %>
    </p>
  <% end %>
</div>

<%= link_to "New historia c", new_historia_c_path %>
