<h1>Editar cuidador/paseador</h1>

<%= render "form", cuidador_paseador: @cuidador_paseador %>

<br>

<div>
  <%= link_to "Atras", cuidador_paseadors_path , class: "btn btn-primary", style:'margin-block: 10px;'%>
</div>
