<p style="color: green"><%= notice %></p>

<style>
  /* Botón personalizado */
  .custom-button {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    border: 2px solid #FFA500; /* Borde naranja */
    background-color: #FFA500; /* Fondo naranja */
    color: #000; /* Texto blanco */
    border-radius: 10px; /* Esquinas redondas */
    transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    text-decoration: none; /* Elimina el subrayado en el enlace */
  }

  /* Cambio de color al pasar el mouse por encima */
  .custom-button:hover {
    background-color: #FF8C00; /* Color ligeramente más oscuro */
  }

  .bordered-item {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
  }

  .black-line {
    border-top: 1px solid black;
   }

</style>


<h1>Perros perdidos</h1>

<a href="<%= new_perros_perdido_path %>" class="custom-button">Publicar un perro perdido</a>


<div id="perros_perdidos">
  <% if @perros_perdidos.empty? %>
    <p>No hay perros perdidos, te invitamos a que publiques si encontraste un perro para que se reencuentre con su dueño.</p>
  <% else %>
    <% @perros_perdidos.each do |perros_perdido| %>
      <div class="bordered-item">
        <%= render perros_perdido %>
        <p>
          <%= link_to "Ver", perros_perdido %>
        </p>

      </div>  
    <% end %>
  <% end %>
</div>