<h1>Editing vet de guardium</h1>

<%= render "form", vet_de_guardium: @vet_de_guardium %>

<br>

<div>
  <%= link_to "Show this vet de guardium", @vet_de_guardium %> |
  <%= link_to "Back to vet de guardia", vet_de_guardia_path %>
</div>
