<h1>Editing historia clinica</h1>

<%= render "form", historia_clinica: @historia_clinica %>

<br>

<div>
  <%= link_to "Show this historia clinica", @historia_clinica %> |
  <%= link_to "Back to historia clinicas", historia_clinicas_path %>
</div>
