<div id="carouselHomeIndicators" class="carousel slide bg-dark" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <%= image_tag("turnos.jpg", height: 500, class: "d-block w-100") %>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <%= link_to(image_tag("se_busca.jpg", height: 500, class: "d-block w-100"), se_busca_path, class:"nav-link") %>
    </div>
    <div class="carousel-item " data-bs-interval="3000">
      <%= link_to(image_tag("paseadores_cuidadores.jpeg", height: 500, class: "d-block w-100"),cuidadores_y_paseadores_path, class:"nav-link") %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselHomeIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselHomeIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>