<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-around align-items-end border-bottom border-dark">
    <a class="navbar-brand" href="#">
      <%= image_tag("logotype.png", width: 150, height: 120) %>
    </a> 
    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Turnos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Se busca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cuidadores y paseadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Adopcion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Veterinarias de guardia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Caridad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Busqueda de pareja</a>
        </li>
      </ul>
    </div>
    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Ingresar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>