<h1>Hola <%= @user_1.nombre %>,</h1>
  
<p>Se ha formado un matcheo entre <%= @perro_1.nombre %> y <%= @perro_del_receptor.nombre %>.</p>
  
<p>El nombre del dueño es <%= @user_receptor.nombre %>.</p>