 <footer class="bg-light text-dark text-center py-3 fixed-bottom" style='border-top: 1px solid #000;'>
    <div class="container ">
      <p class="mb-0">&copy; 2023 Oh My Dog - Veterinaria</p>
    </div>
  </footer>