<h1>Editing ambulatorium</h1>

<%= render "form", ambulatorium: @ambulatorium %>

<br>

<div>
  <%= link_to "Show this ambulatorium", @ambulatorium %> |
  <%= link_to "Back to ambulatoria", ambulatoria_path %>
</div>
