<h1>New perros que buscan pareja</h1>

<%= render "form", perros_que_buscan_pareja: @perros_que_buscan_pareja %>

<br>

<div>
  <%= link_to "Back to perros que buscan parejas", perros_que_buscan_parejas_path %>
</div>
